nav {
  position: fixed;
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 2vw 10.4vw;
  justify-content: space-between;
  height: 12vh;
  background-color: #111;
  z-index: 999;


  .nav-part2 {
    display: flex;
    gap: 2vw;
    align-items: flex-start;
    padding: 1vh 0;
    height: 2.6vw;
    position: relative;
    z-index: 10;

    h4 {
      font-size: 0.76vw;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 1vw;
    }

    h5 {
      margin-bottom: 1vw;
      display: none;

      span {
        font-weight: 400;
        font-size: 0.74vw;
        display: inline-block;
        transform: translateY(25px);
      }
    }
  }

  .nav-bottom {
    width: 80%;
    height: 0vh;
    position: absolute;
    top: 90%;
    z-index: 9;
    background-color: #111;
    border-bottom: 1px solid #fff;
  }

  button {
    background-color: rgb(13, 163, 78);
    display: flex;
    width: 0 10px;
    align-items: center;
    padding: 12px 14px;
    border-radius: 50px;
    text-transform: uppercase;
    border: none;

    h5 {
      font-size: 0.85vw;
      color: #fff;
      font-weight: 700;
    }

    svg {
      height: 0.85vw;
      margin-left: 2vw;
    }
  }
}