.page7 {
  min-height: 100vh;
  width: 100%;
  background-color: #fff;
  padding: 10vh 10vw;

  h1 {
    font-size: 5.5vw;
    color: #000;
    padding-left: 23vw;
    line-height: 5.8vw;
    padding-right: 5vw;
    padding-bottom: 10vh;
    border-bottom: 1px solid #dadada;
  }

  .page7-content {
    display: flex;

    .blue-btn {
      background-color: #4f5bff;
      padding: 28px 130px;
      height: 3vw;
      border-radius: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 100px;


      h4 {
        position: absolute;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 0.8vw;

        i {
          font-size: 1vw;
          font-weight: 100;
          margin-left: 0.5vw;
        }

      }
    }


    .right-7 {
      margin-left: 115px;
      color: #000;
      margin-top: 100px;

      p {
        font-size: 27px;
        font-weight: 500;
        padding-bottom: 80px;
      }
    }


  }

  .page7-bottom {
    height: 44vh;
    width: 100%;
    border-top: 1px solid #dadada;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    // color: #000;
    .btm7-part1 {
      border-right: 1px solid #dadada;
      width: 30%;
      height: 100%;
      // background-color: red;
    }

    .btm7-part2 {
      color: #000;
      border-right: 1px solid #dadada;
      width: 28%;
      height: 100%;
      // background-color: red;
    }

    .btm7-part3 {
      color: #000;
      border-right: 1px solid #dadada;
      width: 15%;
      // background-color: red;
      height: 100%;
    }

    .btm7-part4 {
      color: #000;
      border-right: 1 px solid #dadada;
      width: 15%;
      // background-color: red;
      height: 100%;
    }

    .btm7-part5 {
      color: #000;
    }

    .btm7-parts {
      padding: 3vh 1vw;

      h5 {
        color: #000;
        font-weight: 500;
        font-size: 0.9vw;
        margin-bottom: 4vh;
      }

      h4 {
        background-color: #111;
        width: 80%;
        padding: 5px 10px;
        margin-bottom: 0.3vh;
        border-radius: 50px;
        display: flex;
        align-items: center;
        font-weight: 500;
        color: #fff;
      }
    }

    .btm7-parts h4:nth-child(2) {
      transform: translateX(0);
    }

    .btm7-parts h4:nth-child(3) {
      transform: translateX(10%);
    }

    .btm7-parts h4:nth-child(4) {
      transform: translateX(20%);
    }

    .btm7-parts h4:nth-child(5) {
      transform: translateX(30%);
    }

    .btm7-parts h4:nth-child(6) {
      transform: translateX(40%);
    }

    .btm7-parts h4:nth-child(7) {
      transform: translateX(50%);
    }
  }
}